@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.promo {
    min-height: 789px;
    background: url(./img/promo.jpg) no-repeat center / cover;

}

.container {
    max-width: 1120px;
    margin: 0 auto;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0;
}

.burger-menu{
    background: none;
    border: none;
    display: none;
    flex-direction: column;
    gap: 5px;

}

.burger-menu span{
    width: 40px;
    height: 5px;
    display: block;
    background: #ffffff;
    border-radius: 10px;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    color: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
}

.nav a.active {
    color: #FFC700;
}

.promo h1 {
    font-weight: 700;
    font-size: 96px;
    /* line-height: 117px; */
    color: #FFFFFF;
    max-width: 790px;
    margin: 103px 0 43px;
}

.button {
    width: 230px;
    height: 50px;
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    border-radius: 60px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}

.tours {
    padding: 90px 0 110px;
}

.title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #0499DD;
    cursor: pointer;
}

.title-wrap a {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #282828;
}

.title-wrap a:hover {
    text-decoration: none;
}

.tour-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 497px;
    gap: 20px;
    margin-top: 38px;

}

.tour-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    color: white;
    padding: 211px 16px 40px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    border-radius: 12px;

}

.tour-item h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFC700;
    margin: 3px 0 10px;
}
.tour-details{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 25px;
}
.price, .time{
    display: flex;
    align-items: center;
    gap: 5px;
}
.tour-item .button{
    margin-top: 35px;
}

